
a:link    {text-decoration: underline; color: #3333CC}
a:visited {text-decoration: underline; color: #6666BB}
a:hover   {text-decoration: underline; color: #5555FF}
	
body { background: #FFFFFF; color: #000000; margin-left: 18px; margin-right: 20px; }
	
.bluec { color: #111199; }
	
TABLE.codebox {	border-collapse: collapse;
	border: 1px #777777 solid;
	background: #F4F4F4;
	margin-left: 15px
	}
		
.Comment {
color: green;
}

.Keyword {
color: blue;
}

.Literal {
color: #A31515;
}		

.CGInput {
color: #000080;
}