body {
margin-left: 8%;
margin-right: 8%;
background-color:  #E0E0E0;
}

TABLE.naviTable {
background-color: #F0F0F0;
border-width: 1px;
border-color: #000000;
border-style: solid;
padding: 0px 3px 0px 3px;
}

HR {
 border: 0;
 color: #444;
 background-color: #444;
 height: 1px;	
}

.minititle 
{
color: #000077;
font-size: 100%;
font-weight: normal;
font-family: "Lucida Grande", "Trebuchet MS";
margin-top: 12px;
margin-bottom: 4px;
}

DIV.indented
{
margin-left: 25px;
font-family: "Courier New", Courier, Monospace;
font-size: 100%;
}

.titleText {
color: #000099;
font-size: 110%;
font-family: "Lucida Grande", "Trebuchet MS";
margin: 4px;
border-bottom: dotted 1px;
}

.titleDate {
color: #0000BB;
font-size: 100%;
font-family: "Lucida Grande", "Trebuchet MS";
margin: 4px;
}

TD.mainText {
padding: 30px;
padding-bottom: 10px;
background-color: #FFFFFF;
}

.Header {
background-color: #6060A0;
color: #FFFFFF;
margin-bottom: 4px;
font-size: 140%;
}

.Articles {
margin-top: 10px;
margin-bottom: 10px;
font-size: 100%;
font-weight: bold;
}

.codebox 
{
	overflow: auto;
	border: solid 1px gray;
	background-color: #F9F9F9;
	padding: 5px;
}

.Comment {
color: green;
}

.Keyword {
color: blue;
}

.Literal {
color: #A31515;
}

.CGInput {
color: #000080;
}

TD.naviText 
{
	padding: 8px;
	border-right: 1px dotted #777777;
}

.footer_title {
 font-size: 100%;
 color: #007777;
}

A:link {    text-decoration: none; color: #146410; }
A:visited { text-decoration: none; font-size: 90%; color: #333307; }
A:hover {   text-decoration: none; color: #558800; background-color: #FFFFFF }

A.articlelink:link    { text-decoration: underline; color: #146410; }
A.articlelink:visited { text-decoration: underline; color: #333307; }
A.articlelink:hover   { text-decoration: underline; color: #885000; }

A.catlink:link    { font-weight: bold; font-size: 100%; text-decoration: none; color: #000000; }
A.catlink:visited { font-weight: bold; font-size: 100%; text-decoration: none; color: #000000; }
A.catlink:hover   { font-weight: bold; font-size: 100%; text-decoration: underline; color: #333307; }

A.navilink:link    { text-decoration: none; font-size: 100%; color: #144410; }
A.navilink:visited { text-decoration: none; font-size: 100%; color: #144410; }
A.navilink:hover   { text-decoration: underline; font-size: 100%; color: #114410; background-color: #FFFFFF }

A.Menu:link    { text-decoration: none; color: blue; }
A.Menu:visited { text-decoration: none; color: blue; }
A.Menu:hover   { text-decoration: none; color: #4444FF; background-color:#dddddd; }

INPUT.MenuDelete    { text-decoration: none; color: black; }
MenuDelete:visited { text-decoration: none; color: blue; }
INPUT.MenuDelete:hover   { text-decoration: none; color: #FF1111; }

INPUT.MenuSave    { text-decoration: none; color: black; }
INPUT.MenuSave:hover   { text-decoration: none; color: #1111FF; }

ul {
  list-style: none;
  margin: 0 0 0 18px;
  padding: 0;
  }

li {
  list-style: disc;
  padding-left: 3px;
  margin-bottom: 3px;
  }