
/* Tutorial en ligne: http://www.w3schools.com/css/default.asp */

H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 20px;
	COLOR: #013F89;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;	
}
H2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #013F89;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

H3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #013F89;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

P, LI {
	FONT-SIZE: 11px; COLOR: #013F89; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}


font.product_body {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #013F89;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;	
}

font.product_legend {
	FONT-WEIGHT: normal;
	FONT-STYLE: italic;
	FONT-SIZE: 10px;
	COLOR: #013F89;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;	
}


TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	line-height: normal;
	/*line-height: 16px;*/
	
}

BODY {
	/*FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;*/
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px; 
	COLOR: #013F89; 
	/*background-image: url("/images/fond_pxl_v2.gif")*/
}



A {
	COLOR: #993333; TEXT-DECORATION: underline; 
}






/*
A:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #ff3333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
*/



.main_menu {
	/*background-color: #dddddd;*/
	/*
	background-image: url("/images/menu_tile_01.gif");
	background-repeat: repeat-x;
	*/
	height: 20px;
	width: 120px;
	text-align: center;
}

.main_menu_langue {
	background-color: #dddddd;
	height: 20px;
	width: 60px;
	text-align: center;
}

.main_menu_active {
	background-color: #ffffff;
	/*
	background-image: url("/images/menu_tile_01.gif");
	background-repeat: repeat-x;
	*/
	height: 20px;
	width: 120px;
	text-align: center;
}

.main_menu_langue_active {
	background-color: #ffffff;
	/*
	background-image: url("/images/menu_tile_01.gif");
	background-repeat: repeat-x;
	*/
	height: 20px;
	width: 60px;
	text-align: center;
}

.link_main_menu {
	font-family: verdana, tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #ffffcc;
	text-decoration: none;
	padding:0 4 0 4;
	
}

.link_main_menu:hover {
	font-family: verdana, tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background: #ffffcc;
	border: 1px solid #013F89;
	padding:0 4 0 4;
}


/*
.link_main_menu_active {
	width: 120px;
	font-family: tahoma, verdana;
	font-size: 12px;
	font-weight: bold;
	color: #cc0000;
	text-decoration: none;
}

.link_main_menu_active:hover {
	font-family: tahoma, verdana;
	width: 120px;
	font-size: 12px;
	font-weight: bold;
	color: #cc0000;
	background: #ffffff;
	border: 1px solid #000;
	padding:0 10 0 10;
}
*/





.cell_border { border: 1px solid #ddddff; }

.cell_border_black { border: 1px solid #444444; }


.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	line-height: normal;
	/*line-height: 16px;*/
	
}

.title14 {
	text-align: left;
	/*font-weight: normal;*/
	font-weight: bold;
	color: #86838F;
	/*color: #993333;*/
	font-size: 14px;
	margin-top: 0px;
}

.title20 {
	text-align: left;
	/*font-weight: normal;*/
	font-weight: normal;
	color: #86838F;
	/*color: #993333;*/
	font-size: 20px;
	margin-top: 0px;
}




.page_footer{
	border: 1px solid #13263A;
	font-family: tahoma;
	font-size: 10px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
	padding: 0px;
	text_align: left;
	padding:5 5 5 5;
}

.link_page_footer {
	font-family: tahoma;
	font-size: 10px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}

.link_page_footer:hover {
	font-family: tahoma;
	font-size: 10px;
	font-style: normal;
	color: #666666;
	text-decoration: underline;
}


.news_box_header{
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none;
}


.news_headline_link {
	font-family: tahoma;
	font-size: 12px;
	font-style: bold;
	/*color: #cc5952;*/
	color: #008eb4;
	TEXT-DECORATION: none;
}

.news_headline_link:hover {
	font-family: tahoma;
	font-size: 12px;
	font-style: bold;
	/*color: #cc5952;*/
	color: #008eb4;
	TEXT-DECORATION: underline;
}

.hot_link {
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	color: #cc6666;
	text-decoration: none;
}

.hot_link:hover {
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	color: #cc6666;
	text-decoration: underline;
}

.hot_link_v2 {
	font-family: tahoma;
	font-size: 12px;
	font-style: bold;
	color: #cc6666;
	text-decoration: none;
}

.hot_link_v2:hover {
	font-family: tahoma;
	font-size: 12px;
	font-style: normal;
	color: #cc6666;
	text-decoration: underline;
}


.hot_link_v3 {
	font-family: tahoma;
	font-size: 14px;
	font-style: bold;
	color: #cc6666;
	text-decoration: none;
	background-color: #F7EFDF;
	background-image: url(/cv/images/Fnd2.gif);
	background-repeat: repeat;
	border: 1px solid #CCCCCC;
}

.hot_link_v3:hover {
	font-family: tahoma;
	font-size: 14px;
	font-style: normal;
	color: #008eb4;
	text-decoration: underline;
	background-color: #F7EFDF;
	background-image: url(/cv/images/Fnd2.gif);
	background-repeat: repeat;
	border: 1px solid #CCCCCC;
}



.hot_link_v4{
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	color: #FFFFcc;
	text-decoration: none;
}

.hot_link_v4:hover {
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	color: #FFFFcc;
	text-decoration: underline;
}



.hot_text {
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	color: #222222;
	text-decoration: none;
}



.link_news {
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	color:#008eb4;
	/*color: #996666;*/
	text-decoration: underline;
}

.link_news:hover {
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: underline;
}

.news_date {
	font-family: tahoma;
	font-size: 10px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}

/*
.news_headline {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #cc5952;
	line-height: 16px;
	TEXT-DECORATION: underline;
}
*/
.news_headline {
	font-family: "trebuchet ms", trebuchet, verdana;
	font-size: 20px;
	font-weight: bold;
	/*color: #208CAB;*/
	color:#008eb4;
	line-height: 16px;
	TEXT-DECORATION: none;
}

.news_headline:hover {
	font-family: "trebuchet ms", trebuchet, verdana;
	font-size: 20px;
	font-weight: bold;
	color:#008eb4;
	line-height: 16px;
	TEXT-DECORATION: underline;
}

.news_headline_border { 
	border: 1px solid #888888; 
}



.hot_link_menu {
	font-family: tahoma;
	font-size: 12px;
	font-style: normal;
	color: #FFFFcc;
	text-decoration: none;
}

.hot_link_menu:hover {
	font-family: tahoma;
	font-size: 12px;
	font-style: normal;
	color: #cc6666;
	text-decoration: underline;
}


/*=====================================[ FORUM ]===*/
/*
.forum
{
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #333399;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	line-height: 16px;
}


.forum_button {
	FONT-WEIGHT: bold;
	FONT-STYLE: normal;
	FONT-SIZE: 12px;
	COLOR: #013F89;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;	
}


A.forumButtonLink:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #013F89; TEXT-DECORATION: none; }
A.forumButtonLink:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #013F89; TEXT-DECORATION: none;}
A.forumButtonLink:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #013F89; TEXT-DECORATION: none;}
A.forumButtonLink:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #ff0000; TEXT-DECORATION: none;}

A.forumLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	TEXT-DECORATION: none;
}
A.forumLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	TEXT-DECORATION: none;
}
A.forumLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	TEXT-DECORATION: none;
}
A.forumLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	TEXT-DECORATION: none;
}
*/




/*=====================================[ NEWS ]===*/
/*
TD.NewsTable {
	border: 1px;
	border-style: solid;
	border-color: #013F89;
	background-image: url("/images/line_fond_pxl.gif");
	font-size: 10px;
}


A.NewsLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	line-height: 18px;
	TEXT-DECORATION: underline;
}
A.NewsLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	line-height: 18px;
	TEXT-DECORATION: underline;
}
A.NewsLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	line-height: 18px;
	TEXT-DECORATION: underline;
}
A.NewsLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ff3333;
	line-height: 18px;
	TEXT-DECORATION: underline;
}
*/










A.LinkVerdanaNormal11:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaNormal11:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaNormal11:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaNormal11:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #ff3333;
	line-height: 16px;
	TEXT-DECORATION: none;
}

















A.LinkVerdanaBold11:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold11:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold11:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold11:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ff3333;
	line-height: 16px;
	TEXT-DECORATION: none;
}


















A.LinkVerdanaBold12:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold12:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold12:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 18px;
	TEXT-DECORATION: none;
	background: #993333;
}



A.LinkVerdanaNormal12:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaNormal12:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaNormal12:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaNormal12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	line-height: 18px;
	TEXT-DECORATION: none;
	background: #993333;
}









A.dropDownMenuLink12:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.dropDownMenuLink12:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.dropDownMenuLink12:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.dropDownMenuLink12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	line-height: 24px;
	TEXT-DECORATION: none;
}





A.download_link:link {
	COLOR: #993333; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}
A.download_link:visited {
	COLOR: #993333; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}
A.download_link:active {
	COLOR: #993333; TEXT-DECORATION: none; FONT-WEIGHT: bold;
}
A.download_link:hover {
	COLOR: #993333; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}




A.LinkVerdanaBold14:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold14:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold14:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkVerdanaBold14:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ff3333;
	line-height: 16px;
	TEXT-DECORATION: none;
}




A.codezone_link:link {
	COLOR: #333399; TEXT-DECORATION: none; FONT-WEIGHT: normal;
}
A.codezone_link:visited {
	COLOR: #333399; TEXT-DECORATION: none; FONT-WEIGHT: normal;
}
A.codezone_link:active {
	COLOR: #333399; TEXT-DECORATION: none; FONT-WEIGHT: normal;
}
A.codezone_link:hover {
	COLOR: #993333; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}






/*
.BarMenuSup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	PADDING-RIGHT: 10px; 
	FONT-SIZE: 12px; 
	font-weight:bold;
}
.BarMenuSup A:link {
	COLOR: #ffffcc; 
	TEXT-DECORATION: none;
}
.BarMenuSup A:visited {
	COLOR: #ffffcc; 
	TEXT-DECORATION: none;
}
.BarMenuSup A:active {
	COLOR: #ffffcc; 
	TEXT-DECORATION: none;
}
.BarMenuSup A:hover {
	COLOR: #013F89; 
	TEXT-DECORATION: none;
	background: #ffffcc;
}
*/



.BarMenuSup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	PADDING-RIGHT: 10px; 
	FONT-SIZE: 12px; 
	font-weight:bold;
	COLOR: #ffffcc;
	TEXT-DECORATION: none;
}

.BarMenuSup A:hover {
	COLOR: #013F89; 
	TEXT-DECORATION: none;
	background: #ffffcc;
}

/*
.BarMenuSupActive{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	PADDING-RIGHT: 10px; 
	FONT-SIZE: 12px; 
	font-weight:bold;
	color: #bbbbff;
	TEXT-DECORATION: none;
}


.BarMenuSupActive  A:hover{
	COLOR: #013F89; 
	TEXT-DECORATION: none;
	background: #bbbbff;
}
*/





.MenuCaption{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	/*color: #FFbb07;*/
	/*color: #bbbbff;*/
	/*line-height: 16px;*/
	/*TEXT-DECORATION: underline;*/
	color: #FFbb07;
	text-decoration: none;
	background: #444488;
	border: 1px solid #000;
	padding:0 4 0 4;
	/*width: 150;*/
}

.BodyCaption{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #993333;
	line-height: 16px;
	TEXT-DECORATION: underline overline;
}


.dateNews{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #013F89;
	line-height: 16px;
	TEXT-DECORATION: none;
}









A.menu_left:link {
	FONT-SIZE: 10px; COLOR: #ffffaa; TEXT-DECORATION: none;	font-weight:bold;
}
A.menu_left:visited {
	FONT-SIZE: 10px; COLOR: #ffffaa; TEXT-DECORATION: none;	font-weight:bold;
}
A.menu_left:active {
    FONT-SIZE: 10px; COLOR: #ffffaa; TEXT-DECORATION: none;	font-weight:bold;
}
A.menu_left:hover {
	FONT-SIZE: 10px; COLOR: #ff3333; TEXT-DECORATION: none;	font-weight:bold;
}





A.normal_link:link {
	COLOR: #333333; TEXT-DECORATION: underline; 
}
A.normal_link:visited {
	COLOR: #333333; TEXT-DECORATION: underline; 
}
A.normal_link:active {
	COLOR: #333333; TEXT-DECORATION: underline; 
}
A.normal_link:hover {
	COLOR: #ff3333; TEXT-DECORATION: underline; 
}


.selected_link:link {
	COLOR: #993333; 
	TEXT-DECORATION: underline; 
	FONT-SIZE: 12px;
	font-weight:bold;	
}
A.selected_link:visited {
	COLOR: #993333; 
	TEXT-DECORATION: underline; 
	FONT-SIZE: 12px;
	font-weight:bold;	
}
A.selected_link:active {
	COLOR: #993333; 
	TEXT-DECORATION: underline; 
	FONT-SIZE: 12px;
	font-weight:bold;	
}
.selected_link:hover {
	COLOR: #ff3333; 
	TEXT-DECORATION: underline; 
	FONT-SIZE: 12px;
	font-weight:bold;	
}


A.little_link:link {
	FONT-SIZE: 11px; COLOR: #333333; TEXT-DECORATION: underline; FONT-FAMILY: Trebuchet MS, Verdana, Arial;
}
A.little_link:visited {
	FONT-SIZE: 11px; COLOR: #333333; TEXT-DECORATION: underline; FONT-FAMILY: Trebuchet MS, Verdana, Arial;
}
A.little_link:active {
	FONT-SIZE: 11px; COLOR: #333333; TEXT-DECORATION: underline; FONT-FAMILY: Trebuchet MS, Verdana, Arial;
}
A.little_link:hover {
	FONT-SIZE: 11px; COLOR: #ff3333; TEXT-DECORATION: underline; FONT-FAMILY: Trebuchet MS, Verdana, Arial;
}





.menu {
	PADDING-RIGHT: 20px; FONT-SIZE: 10px; COLOR: #333333;
}
.menu A:link {
	COLOR: #333333; TEXT-DECORATION: none;
}
.menu A:visited {
	COLOR: #333333; TEXT-DECORATION: none;
}
.menu A:active {
	COLOR: #ff3333; TEXT-DECORATION: underline;
}
.menu A:hover {
	COLOR: #ff3333; TEXT-DECORATION: underline;
}


.strapline {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; COLOR: #ffffff; FONT-STYLE: italic;
}
.credits {
	FONT-SIZE: 10px;
}
.imgborder {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid;
}
.border {
	BACKGROUND-COLOR: #333333;
}
.bg {
	BACKGROUND-COLOR: #ffffff;
}
.menulines {
	BACKGROUND-COLOR: #333333;
}
.footer {
	PADDING-LEFT: 6px; FONT-SIZE: 11px; COLOR: #ffffff;
}
.footer A:link {
	COLOR: #cccccc; TEXT-DECORATION: underline;
}
.footer A:visited {
	COLOR: #cccccc; TEXT-DECORATION: underline;
}
.footer A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline;
}
.footer A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline;
}

.maintitle {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS";
}
.pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #993333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.spin72 {
	position: relative; top: 5px; left: 5px; font: bold italic 72pt Verdana, serif; color: #aaaacc;
}
.spin18v2 {
	position: relative; top: -30px; font: normal 18pt Verdana, sans-serif; color: #3333cc; margin-left: 20px; margin-bottom: 10px;
}

font.spin36 {
	position: relative; top: 5px; left: 5px; FONT-SIZE: 30px; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; color: #eeeeee;
}

font.spin18v1 {
	position: relative; top: -15px; FONT-SIZE: 20px; FONT-FAMILY: Verdana; color: #4682B6; FONT-WEIGHT: bold; margin-left: 20px; margin-bottom: 10px;
}

font.pagetitle {
	position: relative; top: -15px; FONT-SIZE: 20px; FONT-FAMILY: Verdana; color: #4682B6; FONT-WEIGHT: bold; margin-left: 20px; margin-bottom: 10px;
}

font.news_header {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

font.img_comment {
	FONT-STYLE: italic; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px;
	COLOR: #013F89;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

font.link_comment {
	FONT-STYLE: normal; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}


.LiveCounter{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFcc;
	TEXT-DECORATION: none;
}


.ArialJaunePale11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFcc;
	TEXT-DECORATION: none;
}

.ArialOrange01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #ee9933;
	TEXT-DECORATION: none;
}

.ArialBlue9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #013F89;
}
.ArialBlue10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #013F89;
}
.ArialBlue11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #013F89;
}
.ArialBlue12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	line-height: normal;
}

.ArialBoldBlue12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	line-height: normal;
}

.ArialBlue13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #013F89;
}
.ArialBlue14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	line-height: normal;
}


.ArialOcre12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	text-transform: none;
	font-style: normal;
	line-height: normal;
}

.ArialOcre14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #993333;
	text-transform: none;
	font-style: normal;
	line-height: normal;
}


.ArialBoldBlue14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 16px;
}

.ArialBoldBlue16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 16px;
}

.ArialBoldBlue20 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 20px;
}

.VerdanaItalicBlue10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: italic;
	line-height: 14px;
}

.VerdanaNormalBlue10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	line-height: normal;
}


.VerdanaItalicBlue11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: italic;
	line-height: 14px;
}


.VerdanaNormalBlue11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	line-height: 16px;
}



.VerdanaNormalBlue12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 16px;
}

.VerdanaBoldBlue12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 16px;
}

.VerdanaBoldBlue14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 16px;
}

.VerdanaBoldBlue16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 20px;
}

.VerdanaBoldBlue20 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #013F89;
	text-transform: none;
	font-style: normal;
	/*line-height: normal;*/
	line-height: 24px;
}

.VerdanaBoldRed12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}
.VerdanaBoldRed14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #993333;
	line-height: 18px;
	TEXT-DECORATION: none;
}











.ArialBoldBlack10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #222222;
	text-transform: none;
	font-style: normal;
	line-height: normal;
}



.ArialWhite10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.ArialWhite11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}
.ArialWhite12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}
.ArialWhite14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	line-height: 24px;
}
.ArialBlue24Titre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #013f89;
	line-height: 24px;
	font-style: italic;
	font-variant: normal;
	text-transform: uppercase;
}


.VerdanaBlack11Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	line-height: 16px;
	TEXT-DECORATION: none;
}

.VerdanaBlack12Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	line-height: 16px;
	TEXT-DECORATION: none;
}

.VerdanaBlack14Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	line-height: 16px;
	TEXT-DECORATION: none;
}




.ArialWhiteBold12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 16px;
}

.ArialWhiteNormal12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFcc;
	line-height: 16px;
}


.ArialWhiteBold14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 16px;
}


.ArialBlackBold12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	line-height: 16px;
}





A.LinkArialWhiteBold14:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold14:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold14:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold14:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	line-height: 24px;
	TEXT-DECORATION: none;
}


.CourrierNew10 {
	font-family: Courier New, Sans Serif;
	font-size: 10px;
	font-weight: normal;
	color: #333344;
	text-transform: none;
	font-style: normal;
	line-height: normal;
	background: #ddddff;
}

.CourrierNew12 {
	font-family: Courier New, Sans Serif;
	font-size: 12px;
	font-weight: normal;
	color: #333344;
	text-transform: none;
	font-style: normal;
	line-height: normal;
	background: #ddddff;
}

.CourrierNew14 {
	font-family: Courier New, Sans Serif;
	font-size: 14px;
	font-weight: normal;
	color: #333344;
	text-transform: none;
	font-style: normal;
	line-height: normal;
	background: #ddddff;
}

A.LinkArialWhiteBold12:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold12:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold12:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 24px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	line-height: 24px;
	TEXT-DECORATION: none;
}



A.LinkArialWhiteNormal10:link, A.LinkArialWhiteNormal10:visited, A.LinkArialWhiteNormal10:active{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFFFcc;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteNormal10:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	line-height: 16px;
	TEXT-DECORATION: none;
	
	color: #FFFFcc;
	/*COLOR: #013F89; */
	/*background: #ffffcc;*/
	TEXT-DECORATION: underline;
}




/*
A.LinkArialWhiteBold10:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold10:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold10:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold10:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 16px;
	TEXT-DECORATION: none;
	
	COLOR: #013F89; 
	background: #ffffcc;
}
*/

A.LinkArialWhiteBold10:link, A.LinkArialWhiteBold10:visited, A.LinkArialWhiteBold10:active{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFcc;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialWhiteBold10:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 16px;
	TEXT-DECORATION: none;
	
	COLOR: #013F89; 
	background: #ffffcc;
}




A.LinkArialBlueBold12:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFF00;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialBlueBold12:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFF00;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialBlueBold12:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFF00;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkArialBlueBold12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	line-height: 16px;
	TEXT-DECORATION: none;
}






A.LinkArialYellowBold12:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #cc7744;
	/*line-height: 24px;*/
	TEXT-DECORATION: none;
}
A.LinkArialYellowBold12:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #cc7744;
	/*line-height: 24px;*/
	TEXT-DECORATION: none;
}
A.LinkArialYellowBold12:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #cc7744;
	/*line-height: 24px;*/
	TEXT-DECORATION: none;
}
A.LinkArialYellowBold12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	/*line-height: 24px;*/
	TEXT-DECORATION: none;
}




A.LinkBlackBold12:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none;
}
A.LinkBlackBold12:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none;
}
A.LinkBlackBold12:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none;
}
A.LinkBlackBold12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	TEXT-DECORATION: none;
}




A.LinkBlackBold20:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none;
}
A.LinkBlackBold20:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none;
}
A.LinkBlackBold20:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	TEXT-DECORATION: none;
}
A.LinkBlackBold20:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FF0000;
	TEXT-DECORATION: underline;
}





A.sommaire:link 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px; 
	COLOR: #013F89; 
	TEXT-DECORATION: none;	
	font-weight:normal; 
	font-style:normal;
}
A.sommaire:visited {
	FONT-SIZE: 12px; 
	COLOR: #013F89; 
	TEXT-DECORATION: none;	
	font-weight:normal; 
	font-style:normal;
}
A.sommaire:active {
    FONT-SIZE: 12px; 
	COLOR: #013F89; 
	TEXT-DECORATION: none;	
	font-weight:normal; 
	font-style:normal;
}
A.sommaire:hover{
	FONT-SIZE: 12px; 
	color: #ffffff; 
	TEXT-DECORATION: none; 
	font-weight:normal; 
	font-style:normal; 
	background:#99aadd;
}

A.sommaire_sub:link 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px; 
	margin-left: 20px;	
	COLOR: #013F89; 
	TEXT-DECORATION: none;	
	font-weight:normal; 
	font-style:normal;
}
A.sommaire_sub:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px; 
	margin-left: 20px;	
	COLOR: #013F89; 
	TEXT-DECORATION: none;	
	font-weight:normal; 
	font-style:normal;
}
A.sommaire_sub:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px; 
	margin-left: 20px;	
	COLOR: #013F89; 
	TEXT-DECORATION: none;	
	font-weight:normal; 
	font-style:normal;
}
A.sommaire_sub:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px; 
	margin-left: 20px;	
	color: #ffffff; 
	TEXT-DECORATION: none; 
	font-weight:normal; 
	font-style:normal; 
	background:#99aadd;
}



.hyp_attr{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px; 
	margin-left: 2px;	
	color: #228822; 
	TEXT-DECORATION: none; 
	font-weight:normal; 
	font-style:normal; 
	background:#ffffff;
}

A.hyp_normal_link:link {
	COLOR: #883333; TEXT-DECORATION: underline; 
}
A.hyp_normal_link:visited {
	COLOR: #883333; TEXT-DECORATION: underline; 
}
A.hyp_normal_link:active {
	COLOR: #883333; TEXT-DECORATION: underline; 
}
A.hyp_normal_link:hover {
	COLOR: #ff3333; TEXT-DECORATION: underline; 
}










/********************************************************************************************************
********************************************************************************************************/


.hyp_node
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5555;
}

.hyp_node2
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FF2222;
}

.hyp_elem
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #559955;
}


.hyp_attr
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5555FF;
}

.hyp_attr2
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2222FF;
}





A.LinkNode:link {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5555;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkNode:visited {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5555;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkNode:active {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5555;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkNode:hover {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #449944;
	line-height: 16px;
	TEXT-DECORATION: none;
}









A.LinkElem:link {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #559955;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkElem:visited {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #559955;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkElem:active {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #559955;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkElem:hover {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #444499;
	line-height: 16px;
	TEXT-DECORATION: none;
}









A.LinkAttr:link {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5555FF;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkAttr:visited {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5555FF;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkAttr:active {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5555FF;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkAttr:hover {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #449944;
	line-height: 16px;
	TEXT-DECORATION: none;
}





A.LinkGlossary:link {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5555;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkGlossary:visited {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5555;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkGlossary:active {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF5555;
	line-height: 16px;
	TEXT-DECORATION: none;
}
A.LinkGlossary:hover {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #449944;
	line-height: 16px;
	TEXT-DECORATION: none;
}






.left_side_text_info {
	FONT-WEIGHT: normal;
	FONT-STYLE: normal;
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: tahoma, Arial, Helvetica, sans-serif;	
}

.left_side_text_version {
	FONT-WEIGHT: normal;
	FONT-STYLE: normal;
	FONT-SIZE: 9px;
	COLOR: #000000;
	FONT-FAMILY: tahoma, Arial, Helvetica, sans-serif;	
}

.Cadre1 {
	background-color: F6DEAB;
	border: 1px solid #999999;
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #8F8E8B;
	background-image: url(/cv/images/fnd.jpg);
	background-repeat: repeat-x;
}

.CadreNewsHeadLine {
	background-color: F6DEAB;
	border: 1px solid #999999;
	color: #8F8E8B;
	background-image: url(/cv/images/fnd.jpg);
	background-repeat: repeat-x;
}

.Cadre2 {
	background-color: F6DEAB;
	border: 1px solid #999999;
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #8F8E8B;
	background-image: url(/cv/images/fnd.jpg);
	background-repeat: repeat-x;
}


.CadreFond2 {
	background-color: #F7EFDF;
	border: 1px solid #CCCCCC;
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-image: url(/cv/images/Fnd2.gif);
	background-repeat: repeat;
}

.CadreFond {
	background-color: #DFD2B6;
	border: 1px solid #333333;
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-image: url(/cv/images/Fnd.gif);
	background-position: top;
}




